In [1]:
class test:
    pass

In [2]:
class person:
    pass

In [3]:
p = person

In [4]:
p

__main__.person

In [5]:
type(p)

type

In [6]:
print(p)

<class '__main__.person'>

In [7]:
p.name = "sudh"
p.surname = "kumar"
p.yob = 32432

In [8]:
a = person
a.name = "abc"
a.yob = 12345
a.empno = 12345678

In [9]:
p.name

'abc'

In [10]:
p.surname

'kumar'

In [12]:
p.yob

12345

In [13]:
a.name

'abc'

In [14]:
a.surname

'kumar'

In [27]:
class Person:
    def __init__(self, name, surname, yob):
        self.name = name
        self.surname = surname
        self.yob = yob

In [17]:
man1 = person("rahul", "rama", 1996)

In [18]:
man1.name

'rahul'

In [19]:
man1.surname

'rama'

In [21]:
man1.yob

1996

In [29]:
p = Person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [25]:
print(p)

<class '__main__.person'>

In [85]:
class Person:
    
    def __init__(self, name, surname, yob):
        
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self, n, m):
        
        return n + m + self.yob
    
    def __str__(self):
        
        #return "my name is Rahul Rama Chandran"
        return "%s is my first name and %s is my surname and year of birth is %d" %(self.name, self.surname, self.yob)

In [86]:
p = Person("rahul", "rama", 11)

In [87]:
p.__dict__

{'name': 'rahul', 'surname': 'rama', 'yob': 11}

In [61]:
p.name

'rahul'

In [62]:
p.test(1,2)

14

In [63]:
print(p)

rahul is my first name and rama is my surname and year of birth is 11

In [64]:
p

In [66]:
class Test:
    pass

In [67]:
p = Test()
p.name = "sudh"
p.surname = "kumar"
p.yob = 234

In [68]:
s = Test()
s.name = "rahul"
s.surname = "rama"
s.yob = 789

In [69]:
p.name

'sudh'

In [70]:
s.name

'rahul'

In [71]:
class Person:
    
    def pass_name(self, name):
        self.name = name
        
    def pass_surname(self, surname):
        self.surname = surname
        
    def pass_yob(self, yob):
        self.yob = yob

In [72]:
p = Person()

In [74]:
p.pass_name("rahul")

In [75]:
p.name

'rahul'

In [76]:
s = Person()

In [78]:
s.pass_surname("rama")
s.pass_name("rahul")
s.pass_yob(1234)

In [79]:
s.name

'rahul'

In [90]:
class Person:
    
    def __init__(self, name, surname, yob):
        
        self._name = name
        self._surname = surname
        self._yob = yob
        
    def test(self, n, m):
        
        return n + m + self._yob
    
    def __str__(self):
        
        #return "my name is Rahul Rama Chandran"
        return "%s is my first name and %s is my surname and year of birth is %d" %(self._name, self._surname, self._yob)

In [81]:
p = Person("rahul", "rama", 12)

In [82]:
p.name

AttributeError: 'Person' object has no attribute 'name'

In [83]:
p._name

'rahul'

In [84]:
p.__dict__

{'_name': 'rahul', '_surname': 'rama', '_yob': 12}

In [91]:
s = Person("sudhandhu", "kumar" , 1234)

In [92]:
s.__dict__

{'_name': 'sudhandhu', '_surname': 'kumar', '_yob': 1234}

In [93]:
class Person:
    
    def __init__(self, name, surname, yob):
        
        self.__name = name
        self._surname = surname
        self._yob = yob
        
    def test(self, n, m):
        
        return n + m + self._yob
    
    def __str__(self):
        
        #return "my name is Rahul Rama Chandran"
        return "%s is my first name and %s is my surname and year of birth is %d" %(self.__name, self._surname, self._yob)

In [94]:
p = Person("rahul", "rama", 24)

In [99]:
p.__dict__

{'_Person__name': 'rahul', '_surname': 'rama', '_yob': 24}

In [101]:
p._Person__name

'rahul'

In [98]:
p._surname

'rama'

In [102]:
class Student(Person):
    
    def __init__(self, roll_no, college_name, *args):
        
        super(Student, self).__init__(*args)
        self.roll_no = roll_no
        self.college_name = college_name

In [104]:
stud = Student(24, "ABC", "rahul", "rama",1234)

In [106]:
stud._Person__name

'rahul'

In [108]:
stud._surname

'rama'

In [109]:
stud.test(4,5)

1243

In [116]:
# Multiple Inheritance
class a:
    def test(self):
        print("my name is rahul")
        
class b:
    def test(self):
        print("my surname is rama")
        
class c(a,b):
    obja = a()
    objb = b()
    obja.test()
    objb.test()
    
    
objc = c()
objc.test()

my name is rahul
my surname is rama
my name is rahul

In [117]:
class c(b,a):
    obja = a()
    objb = b()
    obja.test()
    objb.test()
    
    
objc = c()
objc.test()

my name is rahul
my surname is rama
my surname is rama

In [118]:
objb.test()

NameError: name 'objb' is not defined